{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Jumbotron with image and main call to action -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-end">
        <div class="container">
            <h1 class="display-4 py-1">Empowering Environmental Action</h1>
            <h2 class="display-5 py-2">for a Sustainable Future</h2>
            <a class="donate-now-button btn btn-lg rounded-0 text-uppercase py-3" href="#" role="button">Donate Today</a>
        </div>
    </div>


    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Placeholder text
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="donate-now-button btn btn-lg rounded-0 text-uppercase py-3">Donate Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}