{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'articles/css/article.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container-large"></div>
{% endblock %}

{% block content %}

<!-- All Articles -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Articles</h2>
            <hr class="mb-1">
        </div>
    </div>

    <!-- Page Description -->
    <p>
        Welcome to our Articles page, where you'll find a wealth of environmental knowledge and inspiration. Explore a
        diverse collection of thought-provoking articles that delve into various aspects of sustainability, climate
        change, conservation, and more. Our articles provide valuable insights, expert perspectives, and actionable tips
        to empower you in making a positive impact on our planet. Stay informed about the latest environmental news,
        learn about innovative solutions, and discover engaging stories that highlight the importance of environmental
        stewardship. Join us on this journey of discovery, education, and inspiration as we strive for a greener and
        more sustainable future.
    </p>

    <div class="row">
        {% for article in articles %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if article.image %}
                <a href="{{ article.image.url }}" target="_blank">
                    <img src="{{ article.image.url }}" class="card-img-top img-fluid restricted-image"
                        alt="{{ article.name }}">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid restricted-image"
                        alt="{{ article.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <div class="row">
                        <div class="col-sm">
                            <small><i class="fa-solid fa-user"></i> {{ article.author }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <small><i class="fa-solid fa-calendar-days"></i> {{ article.created_on }}</small>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text">{{ article.content|truncatechars:224 }}</p>
                    <a href="{% url 'articles:article_detail' article.pk %}"
                        class="btn btn-dark-green rounded float-right">Read More <i class="fa-brands fa-readme"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}