{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'team/css/team.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container-large"></div>
{% endblock %}

{% block content %}

<!-- All Team Members -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Our Eco Heroes</h2>
            <hr class="mb-1">
        </div>
    </div>

    <!-- Page Description -->
    <p>
        Welcome to our Team Members page! Here, you'll get to meet our amazing team of eco heroes who are dedicated to
        making a positive impact on the environment. Each team member has a unique profile showcasing their passion,
        age, and favorite place. You can explore their inspiring biographies and learn more about their contributions
        towards creating a sustainable future. Our team members are passionate about environmental conservation and are
        eager to share their knowledge and experiences with you. Get inspired, discover their stories, and join us in
        our mission to make a difference!
    </p>

    <div class="row">
        {% for member in members %}
        <div class="col-lg-4 col-md-6">
            <div class="card card-team mb-4 d-flex flex-column">
                <div class="card-body text-center d-flex flex-column justify-content-between">
                    {% if member.image %}
                    <a href="{{ member.image.url }}" target="_blank">
                        <img src="{{ member.image.url }}" class="rounded-circle team-member-image"
                            alt="{{ member.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}noimage.png" class="rounded-circle team-member-image"
                            alt="{{ member.name }}">
                    </a>
                    {% endif %}
                    <br>
                    <h2>{{ member.name }}</h2>
                    <hr>
                    <div class="row">
                        <div class="col-sm">
                            <small><i class="fa-solid fa-calendar-days"></i> {{ member.age }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <small><i class="fa-sharp fa-solid fa-heart"></i> {{ member.passion }}</small>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text"><i class="fa-solid fa-book-user"></i> {{ member.biography|truncatechars:100 }}
                    </p>
                    <div class="mt-auto">
                        <a href="{% url 'team:team_member_detail' member.pk %}" class="btn btn-dark-green rounded">
                            <span class="mx-auto">Read More <i class="fa-brands fa-readme"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}